.tree-right-menu {
    .ivu-divider-horizontal {
        width: 100%;
        min-width: 100%;
        margin: 0 auto;
    }
    .ivu-dropdown-item {
        position: relative;
        padding-left: 32px;
        > i {
            position: absolute;
            left: 16px;
            top: 10px;
        }
        .ivu-icon-ios-arrow-forward {
            left: initial;
            right: 4px;
        }
    }
    ul.ivu-dropdown-menu{     
        >span{ 
            padding-left: 16px;
        }
    }
    .ivu-dropdown {
        .ivu-select-dropdown {
            margin: 0;
        }
    }
}

// this is less
// <#if ctrl.getPSSysCsses?? && ctrl.getPSSysCsses()??>
// <#list ctrl.getPSSysCsses() as css>
// <#if css.getRawCssStyle()?? && css.getRawCssStyle()?length gt 0>
// .${css.getCssName()} {
//     ${css.getRawCssStyle()}
// }
// </#if>
// <#if css.getCssStyle()??>
// ${css.getCssStyle()}
// </#if>
// </#list>
// </#if>