.comb-form-item {
    .comb-item {
        margin-top: 9px;
    }
    .comb-item:nth-child(1) {
        margin-top: 0;
    }
    .app-form-item.label-left{
        .app-form-item-label{
            margin-right: 0px !important;
        }
        .editor{
            margin-left: 140px !important;
        }
    }
}