.app-anchor {
    position: absolute;
    top: 20px;
    right: -13px;
    z-index: 99;
    border-radius: 4px;
    padding: 10px 10px 10px 20px;
    background: rgb(227,237,250);
    .line {
        width: 2px;
        position: absolute;
        height: calc(100% - 20px);
        left: 10px;
        background: #fff;
    }
    .anchor-points {
        padding: 2px 0px;
        cursor: pointer;
        color: #b4bcca;
    }
    .active {
        color: var(--item-font-color-bright);
        position: relative;
        .dot {
            position: absolute;
            display: inline-block;
            top: 0px;
            left: -10px;
            width: 2px;
            height: 25px;
            background-color: var(--item-font-color-bright);
        }
    }
}
