.view-container.studio-view.view-style2.dempickupview {
    >.view-content {
        .content-container.pickup-view >.translate-contant {
            >.center {
                margin: 6px;
                padding: 6px;
                background-color: #f6f6f6;
                border-radius: 2px;
            }
            >.right {
                background-color: #f6f6f6;
                border: none;
                border-radius: 2px;
                margin: 6px;
                .mpicker-select .picker-item {
                    height: 32px;
                    background: #FFFFFF;
                    border-radius: 2px;
                    color: #666666;
                    border: none;
                    line-height: 32px;
                    font-size: 12px;
                    font-weight: 400;
                    padding: 0 0 0 20px;
                    margin: 10px;
                }
            }
        }
    }
}
.view-container.studio-view.view-style2.dempickupview.hidden-header {
    >.view-content .content-container.pickup-view >.translate-contant {
        height: 100%;
    }
}