---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibizpms-provider-webapi
  labels:
    app: ibizpms-provider-webapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ibizpms-provider-webapi
  template:
    metadata:
      labels:
        app: ibizpms-provider-webapi
    spec:
      imagePullSecrets:
      - name: aly-shanghai
      containers:
      - name: ibizpms-provider-webapi
        image: registry.cn-shanghai.aliyuncs.com/ibizsys/ibizpms-provider-webapi:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 30120
        env:
        - name: SPRING_CLOUD_NACOS_DISCOVERY_IP
          value: "172.16.240.110"      
        - name: SERVER_PORT
          value: "30120"
        - name: SPRING_CLOUD_NACOS_DISCOVERY_SERVER-ADDR
          value: "172.16.240.110:8849"
        - name: SPRING_REDIS_HOST
          value: "172.16.240.110"
        - name: SPRING_REDIS_PORT
          value: "6380"
        - name: SPRING_REDIS_DATABASE
          value: "0"
        - name: SPRING_DATASOURCE_USERNAME
          value: "a_LAB01_96184aff4"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "f1@@c@@9"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://172.16.186.185:3306/a_LAB01_96184aff4?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true&allowMultiQueries=true&serverTimezone=GMT%2B8"
        - name: SPRING_DATASOURCE_DRIVER-CLASS-NAME
          value: "com.mysql.jdbc.Driver"
        - name: SPRING_DATASOURCE_DEFAULTSCHEMA
          value: "a_LAB01_96184aff4"
        - name: PORTMAP
          value: "9988:9988"      
        - name: IBIZ_AUTH_LADP
          value: "true"      
        - name: JOBS_ADMINNAME
          value: "admin"      
        - name: JOBS_ADMIN-ADDRESS
          value: "http://172.16.240.110:10001"      
        - name: NACOS
          value: "172.16.240.110:8849"      
        - name: JOBS_ADMINPASSWORD
          value: "123456"      
        - name: JOBS_APP-NAME
          value: "ibzpms"      
        - name: ZUUL_ROUTES_IBZEMP_SERVICEID
          value: "pms-webapi"      
        - name: JOBS_APP-PORT
          value: "9998"      
        - name: JOBS_APP-IP
          value: "172.16.240.110"      
        - name: CAS
          value: "https://passport.ibizlab.cn"      
        volumeMounts:
        - name: data
          mountPath: /app/file
      volumes:      
      - name: data
        persistentVolumeClaim:
          claimName: demo-date-pvc-nfs

---
apiVersion: v1
kind: Service
metadata:
  name: ibizpms-provider-webapi
  labels:
    app: ibizpms-provider-webapi
spec:
  type: NodePort
  ports:
  - name: http
    port: 30120
    targetPort: 30120
    nodePort: 30120
    protocol: TCP
  selector:
    app: ibizpms-provider-webapi

