---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibizpms-provider-webapi
  labels:
    app: ibizpms-provider-webapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ibizpms-provider-webapi
  template:
    metadata:
      labels:
        app: ibizpms-provider-webapi
    spec:
      imagePullSecrets:
      - name: aly-shanghai
      containers:
      - name: ibizpms-provider-webapi
        image: registry.cn-shanghai.aliyuncs.com/ibizsys/ibizpms-provider-webapi:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 32011
        env:
        - name: SPRING_CLOUD_NACOS_DISCOVERY_IP
          value: "172.16.240.110"      
        - name: SERVER_PORT
          value: "32011"
        - name: SPRING_CLOUD_NACOS_DISCOVERY_SERVER-ADDR
          value: "172.16.240.110:8850"
        - name: SPRING_REDIS_HOST
          value: "172.16.240.110"
        - name: SPRING_REDIS_PORT
          value: "6381"
        - name: SPRING_REDIS_DATABASE
          value: "0"
        - name: SPRING_DATASOURCE_USERNAME
          value: "zentao"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "123456"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://172.16.180.217:3306/zentao?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true&serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true"
        - name: SPRING_DATASOURCE_DRIVER-CLASS-NAME
          value: "com.mysql.jdbc.Driver"
        - name: SPRING_DATASOURCE_DEFAULTSCHEMA
          value: "zentao"
        - name: PORTMAP
          value: "9988:9988"      
        - name: ZUUL_ROUTES_IBZEMP_SERVICEID
          value: "ibizpms-webapi"      
        - name: IBIZ_AUTH_LADP
          value: "true"      
        - name: JOBS_APP-PORT
          value: "9988"      
        - name: CAS
          value: "https://passport.ibizlab.cn"      
        - name: NACOS
          value: "172.16.240.110:8850"      
        - name: IBIZ_CACHELEVEL
          value: "L2"      
        - name: SEATA_REGISTRY_NACOS_SERVER-ADDR
          value: "172.16.240.110:8850"      
        - name: SEATA_ENABLED
          value: "true"      

---
apiVersion: v1
kind: Service
metadata:
  name: ibizpms-provider-webapi
  labels:
    app: ibizpms-provider-webapi
spec:
  type: NodePort
  ports:
  - name: http
    port: 32011
    targetPort: 32011
    nodePort: 32011
    protocol: TCP
  selector:
    app: ibizpms-provider-webapi

