.grid {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  .el-table__body-wrapper {
      height: 100%;
  }
  .el-table__body-wrapper::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: 10px !important; /*高宽分别对应横竖滚动条的尺寸*/
      height: 10px !important;
  }
  .el-table__body-wrapper::-webkit-scrollbar-thumb {
      /*滚动条颜色*/
      border-radius: 10px !important;
      background-color: var(--app-background-color-light) !important;
  }
  .el-table__body-wrapper::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      box-shadow: inset 0 0 5px var(--app-background-color-light) !important;
      background: #ffffff !important;
      border-radius: 10px !important;
  }
  /*表格文字过长省略*/
  .el-table th > .cell,
  .el-table td.edit-cell > .cell {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
  }
  .el-table-column--selection .cell {
      padding-left: 0px;
      padding-right: 0px;
  }
  .app-column-link,
  .app-format-data {
      display: inline;
  }
  .app-column-link {
      color: #606266;
  }
  .el-table {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .el-table__row {
          .grid-uiaction-divider {
              padding: 0 10px 0 10px;
              //TODO 冲突
              border-left: 1px var(--ctrl-font-color-light) solid;
          }
          .grid-first-uiaction {
              padding: 0 10px 0 10px;
          }
          // 去除边框
          >td {
            border-left: 0px !important;
            border-top: 0px !important;
            border-right: 0px !important;
          }
      }
      .el-table__row:hover {
          .app-column-link {
              color: #2d8cf0;
          }
      }
      .el-table__empty-text{
        line-height: unset;
        .quick-toolbar {
            display: inline-block;
            button {
                // background: var(--ctrl-background-color-tint);
                // color: var(--ctrl-font-color-active);
                // border: 0;
            }
        }
      }
      .el-tooltip {
          .ivu-form-item {
              margin-bottom: unset !important;
          }
      }
      .el-table__body .edit-cell {
          padding: 0;
          .app-form-item {
              margin-top: 20px;
              margin-bottom: 20px;
          }
      }
      .el-table__header-wrapper {
          min-height: 45px;
          max-height: 100px;
          height: auto;
      }
      .el-table__footer-wrapper {
          min-height: 45px;
          max-height: 100px;
          height: auto;
      }
  }
// 表格(单击能打开时移上去有小手)
  .el-table.grid-rowactive-click {
      .el-table__row:hover {
          cursor: pointer;
      }
  }
  .grid-pagination {
      height: 50px;
      padding: 6px 0px;
      color: var(--ctrl-font-color);
      .ivu-btn{
        color: var(--ctrl-font-color);
        border-color: var(--ctrl-font-color-light);
        &:hover {
          color: var(--ctrl-font-color-bright);
          border-color: var(--ctrl-font-color-bright);
        }
      }
      .ivu-page-item-active{
        color: var(--ctrl-font-color-bright);
        border-color: var(--ctrl-font-color-bright);
      }
      .ivu-select-selection{
        &:hover {
          border-color: var(--ctrl-font-color-bright);
        }
      }
      .page-button {
          button {
              padding: 0;
              font-size: 16px;
              min-width: 32px;
              height: 32px;
              margin-right: 4px;
          }
      }
      .page-column {
          position: absolute;
          left: 0;
      }
      .batch-toolbar {
          position: absolute;
          left: 105px;
          > .toolbar-container {
              button {
                  font-size: 14px;
                  min-width: 32px;
                  height: 32px;
                  margin-right: 0;
                  margin-top: 0;
                  margin-bottom: 0;
                  margin-left: -1px;
                  padding: 0 7px;
                  border-radius: 0;
                  color: var(--button-font-color);
              }
              .ivu-tooltip:first-child button{
                border-radius: 2px 0 0 2px;
              }
              .ivu-tooltip:last-child button{
                border-radius: 0 2px 2px 0px;
              }
          }
      }
  }
}
.ivu-modal-content {
  .footer {
      .ivu-row {
          text-align: right;
      }
  }
}
.cell-indeterminate {
  > div > label {
      > span {
          .el-checkbox__inner {
              background-color: var(--ctrl-background-color-bright);
              border-color: var(--ctrl-font-color-bright);
          }
          .el-checkbox__inner:before {
              content: '';
              position: absolute;
              display: block;
              background-color: var(--ctrl-background-color-light);
              height: 2px;
              transform: scale(0.5);
              left: 0;
              right: 0;
              top: 5px;
          }
      }
      > span.is-checked {
          .el-checkbox__inner {
              background-color: var(--ctrl-background-color-bright);
              border-color: var(--ctrl-font-color-bright);
          }
          .el-checkbox__inner:after {
              border: 0px;
          }
      }
  }
}

.cell-select-all {
  > div > label {
      > span {
          .el-checkbox__inner {
              background-color: var(--ctrl-background-color-bright);
              border-color: var(--ctrl-font-color-bright);
          }
          .el-checkbox__inner:after {
              box-sizing: content-box;
              content: '';
              border: 1px solid var(--ctrl-font-color-bright);
              border-left: 0;
              border-top: 0;
              height: 7px;
              left: 4px;
              position: absolute;
              top: 1px;
              transform: rotate(45deg) scaleY(1);
              width: 3px;
              transition: transform 0.15s ease-in 0.05s;
              transform-origin: center;
          }
      }
  }
}
.app-grid-column-disabled {
  pointer-events: none;
  color: #7b7979;
}
.app-grid-column-normal {
  pointer-events: auto;
  color: #2d8cf0;
}
