@import '../../node_modules/font-awesome/less/font-awesome.less';
@import '../../public/assets/theme/blue.theme.less';
@import '../../public/assets/theme/dark-blue.theme.less';
@import '../../public/assets/theme/default.theme.less';
@import '../../public/assets/theme/studio-dark.theme.less';
@import './app-style.less';
@import './style2.less';

.ibiz-page-tag .tags-body .tags-container .ivu-tag.tag-is-active .ivu-tag-text {
  color: var(--view-font-color-bright);
}
.ibiz-page-tag .tags-body .tags-container .ivu-tag .ivu-icon-ios-close {
  display: none;
}
.ibiz-page-tag .tags-body .tags-container .ivu-tag.tag-is-active .ivu-icon-ios-close,
.ibiz-page-tag .tags-body .tags-container .ivu-tag:hover .ivu-icon-ios-close {
  display: inline-block;
}
.ivu-card-head p {
  font-size: 14px;
  //TODO 冲突
  color: var(--ctrl-font-color);
//   color: var(--app-font-color-light);
  font-weight: 400;
}
.app-app-menu .app-menus .ivu-card .ivu-card-body{
  line-height: 22px;
  margin-left: 10px;
  font-weight: 400;
}
.app-app-menu .app-menus .ivu-card:hover{
  box-shadow:  none;
}

.ivu-card-body .grid>.el-table .el-table__header-wrapper thead>tr th {
  background: var(--app-background-color-bright);
  //TODO 
  border-right: 1px solid var(--ctrl-font-color-bright);
//   border-right: 1px solid var(--app-background-color-light);
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid var(--app-background-color-light);
}
.el-table th {
  padding: 5px 0;
}
.el-table th.gutter:last-of-type {
    display: block !important;
    width: 10px !important;
}
.grid .el-table__body-wrapper .el-table__row td{
    //TODO
    border-left: 1px solid var(--ctrl-font-color);
    border-top: 1px solid var(--ctrl-font-color);
    // border-left: 1px solid var(--app-background-color-bright);
    // border-top: 1px solid var(--app-background-color-bright);
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: var(--ctrl-select-color) !important;
}
.grid .el-table__body-wrapper .grid-selected-row{
    background-color: var(--ctrl-select-color) !important;
    > td{
      background-color: var(--ctrl-select-color) !important;
    }
}

.el-table--enable-row-hover .el-table__body tr:hover>td,.grid .el-table__body-wrapper .grid-selected-row {
  .grid-uiaction-divider {
      //TODO
    color: var(--ctrl-font-color-bright);
    border-left: 1px solid var(--ctrl-font-color-bright);
    // color: var(--ctrl-select-color);
    // border-left: 1px solid var(--item-font-color-bright);
    &:hover {
        color: var(--ctrl-font-color-bright);
    }
  }
  .grid-first-uiaction {
    color: var(--ctrl-font-color-bright);
    &:hover {
      color: var(--ctrl-font-color-bright);
    }
  }
}

// .el-table th .sort-caret.ascending{
//     border-bottom-color: var(--view-background-color-light);
// }
// .el-table th.ascending .sort-caret.ascending {
//     border-bottom-color: var(--view-font-color-light);
// }
// .el-table th .sort-caret.descending{
//     border-top-color: var(--view-background-color-light);
// }
// .el-table th.descending .sort-caret.descending {
//     border-top-color: var(--view-font-color-light);
// }

.el-table th .sort-caret.ascending{
    border-bottom-color: var(--ctrl-font-color-light);
    border-bottom-color: var(--view-background-color-light);
}
.el-table th.ascending .sort-caret.ascending {
    border-bottom-color: var(--ctrl-font-color-bright);
    border-bottom-color: var(--view-font-color-light);
}
.el-table th .sort-caret.descending{
    border-top-color: var(--ctrl-font-color-light);
    border-top-color: var(--view-background-color-light);
}
.el-table th.descending .sort-caret.descending {
    border-top-color: var(--ctrl-font-color-bright);
    border-top-color: var(--view-font-color-light);
}

// tab分页模式首页布局
.index_tab_content{
    >.view-container {
        height: calc(100% - 65px);
        margin: 0px 12px;
    }
}
// 面包屑模式首页布局
.index_route_content{
    >.view-container {
        height: calc(100% - 24px);
        margin: 12px;
        width: auto;
    }
}

/***    BRGIN:加载遮罩    ***/
.el-loading-mask {
    background-color: initial;
    .el-loading-spinner {
        .path {
            stroke-width: 3px;
        }
    }
}
/***    END:加载遮罩    ***/

.grid-row-select {
    background-color: var(--ctrl-font-color-bright) !important;
    td {
        background-color: var(--item-font-color-bright) !important;
    }
}

//搜索框
.bar-container{
    .ivu-input-wrapper {
      .ivu-input {
        &:hover {
          border-color: var(--ctrl-font-color-bright);
        }
        &:focus {
          box-shadow: none;
        }
          background-color: #fff;
      }
      .ivu-input-group-append.ivu-input-search {
        color: #fff !important;
        border-color: var(--ctrl-background-color) !important;
        background-color: var(--ctrl-background-color) !important;
        &:hover {
            color:  #fff !important;
            border-color: var(--ctrl-background-color-bright) !important;
            background-color: var(--ctrl-background-color-bright) !important;
        }
      }
    }
  }

  //按钮
  .el-button{
    color: var(--button-font-color);
    border-color: var(--button-font-color-light);
    background-color: var(--button-background-color);
    &:hover {
      color: var(--button-font-color-bright);
      border-color: var(--button-font-color-bright);
      background-color: var(--button-background-color-bright);
    }
    &:disabled,&:disabled:hover {
      color: var(--button-font-color-light);
      border-color: var(--button-font-color-light);
      background-color: var(--button-background-color-light);
    }
  }

/***    BRGIN:表单错误信息2    ***/
.app-form-item-error-info {
    display: flex;
    .icon {
        width: 30px;
        flex-shrink: 0;
    }
    .contant{
        flex-grow: 1;
    }
}
/***    END:表单错误信息2    ***/

/***    BRGIN:多数据视图属性布局    ***/
.property-layout-left, .property-layout-right {
    display: flex;
    height: 100%;
    > div {
        height: 100%;
    }
    > div:nth-child(1) {
        flex-grow: 1;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    > div:nth-child(2) {
        flex-shrink: 0;
    }
}
.property-layout-top, .property-layout-bottom {
    display: flex;
    height: 100%;
    > div:nth-child(1) {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    > div:nth-child(2) {
        flex-shrink: 0;
    }
}
.property-layout-left {
    flex-direction: row-reverse;
    > div:nth-child(1) {
        border-left: 1px solid var(--item-font-color-light);
        padding-left: 16px;
    }
}
.property-layout-right {
    flex-direction: row;
    > div:nth-child(1) {
        border-right: 1px solid var(--item-font-color-light);
        padding-right: 16px;
    }
}
.property-layout-top {
    flex-direction: column-reverse;
    > div:nth-child(1) {
        border-top: 1px solid var(--item-font-color-light);
        padding-top: 16px;
    }
}
.property-layout-bottom {
    flex-direction: column;
    > div:nth-child(1) {
        border-bottom: 1px solid var(--item-font-color-light);
        padding-bottom: 16px;
    }
}

.view-container.degridview, .view-container.degridview9, .view-container.dewfgridview, .view-container.delistview, .view-container.delistview9, .view-container.dedataview, .view-container.dedataview9,.view-container.dechartview,.view-container.dechartview9,.view-container.decalendarview,.view-container.decalendarview9{
  >.view-card.view-no-caption.view-no-toolbar{
    >.ivu-card-body{
      height: 100%;
    }
  }
  >.view-card{
    >.ivu-card-body{
        >.content-container{
            .quick-group-container,.quick-search-input{
                float: left;
                margin-top: 6px;
                margin-bottom: 6px;
            }
            .quick-search-container{
                float: left;
                margin-top: -2px;
                margin-bottom: 6px;
            }
        }
    }
  }
}

// 按钮下拉列表
.ivu-select-dropdown.ivu-dropdown-transfer {
  color: var(--dropdown-font-color);
  background-color: var(--dropdown-background-color);

  > .ivu-dropdown-menu {
      > .ivu-dropdown-item {
        color: var(--dropdown-font-color);
      }

      > .ivu-dropdown-item:hover {
        color: var(--dropdown-font-color-bright);
        background: var(--dropdown-background-color);
        .ivu-icon {
          color: var(--dropdown-font-color-bright);
        }
      }
  }
}
// 树导航视图
.view-default.view-container {
  .app-tree-exp-bar.ivu-split-wrapper {
    .ivu-split-horizontal{
      .right-pane.ivu-split-pane {
        .view-container {
          box-shadow: none;
        }
      }
    }
  }
}

.appindexview{
  .ivu-layout{
    .index_content{
      color: var(--ctrl-font-color);
    }
  }
}

.start-workflow-select-wraper{
    z-index: 100000000 !important;
}

.workflow-tabs-container{
    height: 100%;
    >.ivu-tabs-bar{
        margin-bottom: 16px;
    }
    >.ivu-tabs-content{
        height: 100%;
        overflow-y: auto;
        >.ivu-tabs-tabpane{
            height: 100%;
        }
    }
}

.app-loading {
    background-color: rgba(255, 255, 255, 0.5);
    .app-loading-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        transition: 0.5s;
        animation: rotate 3s linear infinite;
        .app-loading-icon-item {
            border-radius: 50%;
            width: 13px;
            height: 13px;
            display: block;
            background: #9aceff;
            margin: 4px;
        }
        .active-color {
            background: #badeff;
        }
        .icon-content {
            display: flex;
        }
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}

// 多数据部件空数据
.empty-data-tip{
  width: 100%;
  max-height: 100%;
  text-align: center;
  >.tip-img{
    max-width: 30%;
    max-height: 70%;
    margin: auto;
  }
  >.tip-text{
    display: block;
    line-height: 40px;
    font-size: 14px;
    color: #666;
  }
}

/***    END:多数据视图属性布局    ***/

@import './user.less';