.app-default-calendarview {
    position: relative;
}
.toolbar-container {
    button {
        margin: 6px 0px 4px 4px;
        .caption {
            margin-left: 4px;
        }
    }
    .seperator {
        color: var(--app-dividing-line-color);
        margin: 0 0px 0 4px;
    }
}
