.app-modal-confirm {
    .ivu-modal-header {
        .header {
            text-align:center;
            line-height: 26px;
            height: auto;
            i {
                font-size: 26px;
                position: relative;
                top: 2px;
            }
        }
    }

    .info {
        i {
            color: #2d8cf0;
        }
    }
    .success {
        i {
            color: #19be6b;
        }
    }
    .warning {
        i {
            color: #f90;
        }
    }
    .error {
        i {
            color: #ed4014;
        }
    }
}
