.upload-file{
    width: 100%;
    .ivu-upload{
        height: 100%;
        .ivu-upload .ivu-upload-drag{
            height: 100%;
        }
        .ivu-upload-drag{
            border-radius: 2px;
            border:1px dashed var(--app-color-primary-contrast) !important;
        }
        .ivu-upload-list{
            margin: 0px;
            // display: none !important;
        }
    }
    .upload-text{
        border:1px dashed var(--item-font-color);
        padding:12px 18px;
        text-align: center;
        color: var(-item-font-color-bright);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        
    }
    .text-style{
        cursor: pointer;
        color: var(--item-font-color-active);
    }
}