.app-gantt{
    height: 100%;
    .gantt {
      height: 100%;
      .gantt-elastic__main-view-container {
        flex-grow: 1;
      }
    }
    .app-data-empty{
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }