<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibizpro.mapper.IbizproProjectDailyMapper">
	
	<!-- 无视图模式 -->
	<sql id="select" databaseId="mysql">
        <![CDATA[ SELECT t1.`BEGIN`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATE`, t1.`END`, t1.`IBIZPRO_PROJECTDAILYID`, t1.`IBIZPRO_PROJECTDAILYNAME`, t1.`PM`, t1.`PROJECT`, t11.`NAME` AS `PROJECTNAME`, t1.`TASKS`, t1.`TOTALESTIMATES`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBIZPRO_PROJECTDAILY` t1  LEFT JOIN `zt_project` t11 ON t1.`PROJECT` = t11.`ID`   ]]>
    </sql>


	<!-- 搜索条件 -->
	<sql id="searchMode" databaseId="mysql">
		<if test="srf.n_ibizpro_projectdailyname_like != null ">
            <bind name="bind_n_ibizpro_projectdailyname_like" value="'%' + srf.n_ibizpro_projectdailyname_like + '%'" />
            <![CDATA[ AND  t1.`IBIZPRO_PROJECTDAILYNAME` like #{bind_n_ibizpro_projectdailyname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_pm_eq != null ">
			<![CDATA[ AND  t1.`PM` = #{srf.n_pm_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_ibizpro_projectdailyid_eq != null ">
			<![CDATA[ AND  t1.`IBIZPRO_PROJECTDAILYID` = #{srf.n_ibizpro_projectdailyid_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_projectname_eq != null ">
			<![CDATA[ AND  t11.`NAME` = #{srf.n_projectname_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_projectname_like != null ">
            <bind name="bind_n_projectname_like" value="'%' + srf.n_projectname_like + '%'" />
            <![CDATA[ AND  t11.`NAME` like #{bind_n_projectname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_project_eq != null ">
			<![CDATA[ AND  t1.`PROJECT` = #{srf.n_project_eq,jdbcType=BIGINT} ]]>
        </if>
		<if test="ew!=null and ew.sqlSegment!=null and ew.sqlSegment!=''">
		AND ${ew.sqlSegment}
		</if>
	</sql>


    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbizproProjectDailyResultMap" databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND T1.IBIZPRO_PROJECTDAILYID = #{id} ]]>
		</trim>
    </select>


    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbizproProjectDailyResultMap" type="cn.ibizlab.pms.core.ibizpro.domain.IbizproProjectDaily" autoMapping="true">
		<id property="ibizproprojectdailyid" column="ibizpro_projectdailyid" /><!--主键字段映射-->
		<result property="ibizproprojectdailyname" column="ibizpro_projectdailyname" />
		<result property="project" column="project" />


		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ztproject" javaType="cn.ibizlab.pms.core.zentao.domain.Project" column="project" select="cn.ibizlab.pms.core.zentao.mapper.ProjectMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBIZPRO_PROJECTDAILY_ZT_PROJECT_PROJECT] -->
	 <select id="selectByProject" resultMap="IbizproProjectDailyResultMap"  databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND t1.`PROJECT`=#{id} ]]>
		</trim>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbizproProjectDailySearchContext"  resultMap="IbizproProjectDailyResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`BEGIN`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATE`, t1.`END`, t1.`IBIZPRO_PROJECTDAILYID`, t1.`IBIZPRO_PROJECTDAILYNAME`, t1.`PM`, t1.`PROJECT`, t11.`NAME` AS `PROJECTNAME`, t1.`TASKS`, t1.`TOTALESTIMATES`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBIZPRO_PROJECTDAILY` t1  LEFT JOIN `zt_project` t11 ON t1.`PROJECT` = t11.`ID`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbizproProjectDailySearchContext" resultMap="IbizproProjectDailyResultMap">
		<include refid="Default" />
	</select>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`BEGIN`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DATE`, t1.`END`, t1.`IBIZPRO_PROJECTDAILYID`, t1.`IBIZPRO_PROJECTDAILYNAME`, t1.`PM`, t1.`PROJECT`, t11.`NAME` AS `PROJECTNAME`, t1.`TASKS`, t1.`TOTALESTIMATES`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBIZPRO_PROJECTDAILY` t1  LEFT JOIN `zt_project` t11 ON t1.`PROJECT` = t11.`ID`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectView"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbizproProjectDailySearchContext" resultMap="IbizproProjectDailyResultMap">
		<include refid="View" />
	</select>

</mapper>

