.order1-data-view {
    position: relative;
  }
  .toolbar-container {
    button {
        color: var(--button-font-color);
        border-color: var(--button-font-color);
        background-color: var(--button-background-color);
        margin: 6px 0px 4px 4px;
        .caption {
            margin-left: 4px;
        }
    }
    button:hover {
        color: var(--button-font-color-bright);
        border-color: var(--button-font-color-bright);
        background-color: var(--button-background-color-bright);
    }
    button:disabled,
    button:disabled:hover{
        color: var(--button-font-color-light);
        border-color: var(--button-font-color-light);
        background-color: var(--button-background-color-light);
    }
    .seperator {
        color: var(--app-dividing-line-color);
        margin: 0 0px 0 4px;
    }
  }
  
  // this is less
  
  .order1-data-view {
    display: block;
  }
  