.app-tree-exp-bar {
  > .ivu-split-horizontal {
      > .ivu-split-trigger-con {
          height: 100%;
          width: 1px;
      }
      > .ivu-split-pane {
          > div {
              height: 100%;
              overflow-y: auto;
              overflow-x: hidden;
              display: flex;
              flex-direction: column;
              .tree-exp-bar-header {
                  line-height: 50px;
                  border-bottom: 1px solid var(--ctrl-font-color-light);
                  display: flex;
                  justify-content: space-between;
                  .tree-exp-bar-title {
                      font-size: 18px;
                      padding-left: 8px;
                      flex-shrink: 0;
                      i {
                          font-size: 20px;
                          margin-top: -2px;
                      }
                  } 
                  .toolbar-container{
                      margin-left: auto;
                      margin-right: 10px;
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      .ivu-badge-count{
                          top: 2px;
                      }
                  }
              }
              .search-content {
                  width: 100%;
                  height: 48px;
                  padding: 10px 5px 10px 5px;
              }
              .tree-exp-content {
                  // 计算高度
                  height: 100%;
                  overflow: auto;
                  padding: 16px 0;
                  margin-bottom: 10px;
              }
              .tree-exp-content2 {
                  height: 100%;
                  overflow: auto;
                  flex-grow: 1;
              }
          }
      }
      > .right-pane.ivu-split-pane {
          > div {
              padding-left: 16px;
          }
      }
      > .left-pane.ivu-split-pane {
          padding-right: 10px;
      }
  }
}

.view-default {
    .app-tree-exp-bar.treeexpbar {
        .left-pane, .ivu-split-trigger-con {
            padding-top: 2px;
            padding-bottom: 10px;
        }
        .left-pane.ivu-split-pane {
            >div .tree-exp-content {
                padding: 0;
            }
            .has-search {
                margin-top: 10px;
            }
            .container-header >.search-container{
                padding-bottom: 6px;
                border-bottom: 1px solid #E4E4E4;
            }
            .treeview {
                >.context-menu-container >.el-tree {
                    .el-tree-node >.el-tree-node__content {
                        height: 32px;
                        &:hover {
                            background-color: #f0f7ff;
                            color: #57A3FD;
                        }
                        >.context-menu-component .tree-node {
                            font-size: 12px;
                            font-weight: 400;
                            .icon {
                                padding-right: 6px;
                            }
                            >i{
                                padding-right: 7px;
                            }
                        }
                    }
                    //选中节点
                    .el-tree-node.is-current >.el-tree-node__content {
                        background-color: #f0f7ff;
                        color: #57A3FD;
                    }
                    //子节点图标
                    .el-tree-node >.el-tree-node__children >.el-tree-node >.el-tree-node__content >.context-menu-component .tree-node .icon{
                        padding-left: 2px;
                    }
                }
            }
        }
    }
}