.order1-data-view {
    position: relative;
}
.toolbar-container {
    button {
        margin: 6px 0px 4px 4px;
        .caption {
            margin-left: 4px;
        }
    }
    .seperator {
        //TODO冲突
        color: var(--view-font-color);
        margin: 0 0px 0 4px;
    }
}

// this is less

.order1-data-view {
    display: block;
}
