.view-default.view-container {
  position: relative;
  padding: 0 10px;
  > .view-card {
    > .ivu-card-head{
      padding: 0;
      margin: 0;
      > .header-container{
        .ivu-btn,.ivu-input{
          font-size: 12px;
        }
        .caption-info {
          line-height: 48px;
          font-size: 14px;
          font-weight: 600;
        }
        // 标题栏右侧工具栏
        >.bar-container  {
          .app-quick-search.width-filter input{
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
          }
          .app-quick-search{
            width: auto;
            height: 28px;
            .ivu-input.ivu-input-default {
              height: 28px;
            }
            .ivu-icon{
              color: #999999;
              font-size: 17px;
              height: 28px;
              line-height: 28px;
            }
          }
          .filter{
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            margin: 4px 0px 0px -1px;
            height: 28px;
            background: var(--button-background-color);
            color: var(--button-font-color);
            border-color: var(--button-font-color-light);
            &:hover {
              background: var(--button-background-color-bright);
              color: var(--button-font-color-bright);
              border-color: var(--button-font-color-bright);
            }
            &:disabled, &:disabled:hover {
              background: var(--button-background-color-light);
              color: var(--button-font-color-light);
              border-color: var(--button-font-color-light);
              cursor: no-drop;
            }
            .ivu-icon{
              font-size: 14px;
            }
            border-color: #dcdee2;
            &:focus {
              box-shadow: none;
            }
          }
          .filter.is-expand {
            color: var(--ctrl-font-color-bright);
          }
        }
      }
    }
  }
  .app-form{
    .ivu-form-item-error-tip{
      padding-top: 0;
    }
  }
}
.view-container {
  padding: 0 10px;
  background: var(--view-background-color);
  box-shadow: 0 2px 4px 0 var(--view-background-color-light), 0 0 6px 0 var(--view-background-color-light);
  > .view-card {
      height: 100%;
      > .ivu-card-head {
          min-height: 42px;
          border-color: #E4E4E4;
          border-style: solid;
          border-width: 0px 0px 1px;
          padding: 6px 0px 2px;
          margin: 0px 6px;
          > .header-container {
              min-height: 42px;
              display: flex;
              flex-wrap: nowrap;
              align-items: flex-start;
              justify-content: space-between;
              > .caption-info {
                  line-height: 42px;
                  font-size: 18px;
                  //TODO 冲突
                  color: var(--view-font-color-bright);
                  flex-shrink: 0;
              }
              > .toolbar-container {
                  margin-left: auto;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
              }
          }
      }
      > .ivu-card-body {
          height: calc(100% - 49px);
          padding: 0px;
          display: flex;
          flex-direction: column;
          > .content-container {
              padding: 8px 0 0 0;
              height: 100%;
              display: flex;
              margin: 0;
              flex-direction: column;
              overflow: auto;
          }
      }
  }
  > .view-card.view-no-caption.view-no-toolbar {
      > .ivu-card-body {
          height: 100%;
      }
  }
  .view-card2 {
      height: 100%;
      > .ivu-card-head {
          min-height: 42px;
          border-color: var(--view-font-color-light);
          border-style: solid;
          border-width: 0px 0px 1px;
          padding: 6px 0px 2px;
          .header-container {
              display: block;
              min-height: 42px;
              .toptoolbar {
                  margin-left: auto;
                  flex-direction: row-reverse;
                  margin-bottom: 6px;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
              }
              .toptoolbar-divider {
                  margin: 0px;
              }
              .header-info-container {
                  min-height: 42px;
                  display: flex;
                  flex-wrap: nowrap;
                  align-items: flex-start;
                  justify-content: space-between;
                  .caption-info {
                      line-height: 42px;
                      font-size: 18px;
                      color: var(--view-font-color-light);
                      flex-shrink: 0;
                  }
                  .dataInfo-container {
                      height: 42px;
                  }
              }
          }
      }
      > .ivu-card-body {
          height: calc(100% - 118px);
          padding: 0px;
          display: flex;
          flex-direction: column;
          > .content-container {
              display: flex;
              margin: 0;
              flex-direction: column;
              overflow: auto;
          }
      }
  }
}
.view-default .viewcontainer2 {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.view-default .viewcontainer3 {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.view-default {
  .toolbar-container {
      .ivu-tooltip {
          // 徽章样式
          .el-badge {
              margin-right: 0;
          }
      }
  }
  button {
    margin: 6px 6px 4px 6px;
    height: 28px;
  }
  .ivu-tooltip:last-child {
      button {
          margin-right: 0;
      }
  }
}

//表格选择视图搜索表单样式
.view-default.view-container.depickupgridview {
  .view-card .ivu-card-body >.app-search-form {
    height: auto;
  }
}