.view-default.deindexview {
    .ctrl-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        .drbar-container {
            flex: 1;
        }
    }
    .drbar-menu-item.is-active {
        .drbar-menu-item--title,
        .el-submenu__icon-arrow {
            color: var(--ctrl-font-color-bright);
        }
    }
}