<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.TestReportMapper">
	
	<!-- 无视图模式 -->
	<sql id="select" databaseId="mysql">
        <![CDATA[ SELECT t1.`BEGIN`, t1.`BUGS`, t1.`BUILDS`, t1.`CASES`, t1.`CREATEDBY`, t1.`CREATEDDATE`, t1.`DELETED`, t1.`DEPT`, t1.`END`, t1.`ID`, t1.`MEMBERS`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`ORG`, t1.`OWNER`, t1.`PRODUCT`, t21.`name` AS `PRODUCTNAME`, t1.`PROJECT`, t11.`NAME` AS `PROJECTNAME`, t1.`REPORT`, t1.`STORIES`, t1.`TASKS`, t1.`TITLE`, t1.`UPDATEBY` FROM `zt_testreport` t1  LEFT JOIN `zt_project` t11 ON t1.`PROJECT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`PRODUCT` = t21.`id`   ]]>
    </sql>

	
	<!-- 搜索条件 -->
	<sql id="searchMode" databaseId="mysql">
		<if test="srf.n_title_like != null ">
            <bind name="bind_n_title_like" value="'%' + srf.n_title_like + '%'" />
            <![CDATA[ AND  t1.`TITLE` like #{bind_n_title_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_objecttype_eq != null ">
			<![CDATA[ AND  t1.`OBJECTTYPE` = #{srf.n_objecttype_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_id_eq != null ">
			<![CDATA[ AND  t1.`ID` = #{srf.n_id_eq,jdbcType=BIGINT} ]]>
        </if>
		<if test="srf.n_projectname_eq != null ">
			<![CDATA[ AND  t11.`NAME` = #{srf.n_projectname_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_projectname_like != null ">
            <bind name="bind_n_projectname_like" value="'%' + srf.n_projectname_like + '%'" />
            <![CDATA[ AND  t11.`NAME` like #{bind_n_projectname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_productname_eq != null ">
			<![CDATA[ AND  t21.`name` = #{srf.n_productname_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_productname_like != null ">
            <bind name="bind_n_productname_like" value="'%' + srf.n_productname_like + '%'" />
            <![CDATA[ AND  t21.`name` like #{bind_n_productname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_product_eq != null ">
			<![CDATA[ AND  t1.`PRODUCT` = #{srf.n_product_eq,jdbcType=BIGINT} ]]>
        </if>
		<if test="srf.n_project_eq != null ">
			<![CDATA[ AND  t1.`PROJECT` = #{srf.n_project_eq,jdbcType=BIGINT} ]]>
        </if>
		<if test="ew!=null and ew.sqlSegment!=null and ew.sqlSegment!=''">
		AND ${ew.sqlSegment}
		</if>
	</sql>


    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="TestReportResultMap" databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND t1.DELETED = '0' ]]>
			</if>
			<![CDATA[ AND T1.ID = #{id} ]]>
		</trim>
    </select>


    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="TestReportResultMap" type="cn.ibizlab.pms.core.zentao.domain.TestReport" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="product" column="product" />
		<result property="project" column="project" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ztproduct" javaType="cn.ibizlab.pms.core.zentao.domain.Product" column="product" select="cn.ibizlab.pms.core.zentao.mapper.ProductMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ztproject" javaType="cn.ibizlab.pms.core.zentao.domain.Project" column="project" select="cn.ibizlab.pms.core.zentao.mapper.ProjectMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ZT_TESTREPORT_ZT_PRODUCT_PRODUCT] -->
	 <select id="selectByProduct" resultMap="TestReportResultMap"  databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND t1.DELETED = '0' ]]>
			</if>
			<![CDATA[ AND t1.`PRODUCT`=#{id} ]]>
		</trim>
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_ZT_TESTREPORT_ZT_PROJECT_PROJECT] -->
	 <select id="selectByProject" resultMap="TestReportResultMap"  databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND t1.DELETED = '0' ]]>
			</if>
			<![CDATA[ AND t1.`PROJECT`=#{id} ]]>
		</trim>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.TestReportSearchContext"  resultMap="TestReportResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`BEGIN`, t1.`BUILDS`, t1.`CREATEDBY`, t1.`CREATEDDATE`, t1.`DELETED`, t1.`DEPT`, t1.`END`, t1.`ID`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`ORG`, t1.`OWNER`, t1.`PRODUCT`, t21.`name` AS `PRODUCTNAME`, t1.`PROJECT`, t11.`NAME` AS `PROJECTNAME`, t1.`TASKS`, t1.`TITLE`, t1.`UPDATEBY` FROM `zt_testreport` t1  LEFT JOIN `zt_project` t11 ON t1.`PROJECT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`PRODUCT` = t21.`id`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND t1.DELETED = '0' ]]>
			</if>
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.TestReportSearchContext" resultMap="TestReportResultMap">
		<include refid="Default" />
	</select>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`BEGIN`, t1.`BUGS`, t1.`BUILDS`, t1.`CASES`, t1.`CREATEDBY`, t1.`CREATEDDATE`, t1.`DELETED`, t1.`DEPT`, t1.`END`, t1.`ID`, t1.`MEMBERS`, t1.`OBJECTID`, t1.`OBJECTTYPE`, t1.`ORG`, t1.`OWNER`, t1.`PRODUCT`, t21.`name` AS `PRODUCTNAME`, t1.`PROJECT`, t11.`NAME` AS `PROJECTNAME`, t1.`REPORT`, t1.`STORIES`, t1.`TASKS`, t1.`TITLE`, t1.`UPDATEBY` FROM `zt_testreport` t1  LEFT JOIN `zt_project` t11 ON t1.`PROJECT` = t11.`ID`  LEFT JOIN `zt_product` t21 ON t1.`PRODUCT` = t21.`id`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND t1.DELETED = '0' ]]>
			</if>
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectView"  parameterType="cn.ibizlab.pms.core.zentao.filter.TestReportSearchContext" resultMap="TestReportResultMap">
		<include refid="View" />
	</select>

</mapper>

