<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibizpro.mapper.IbzPlanTempletMapper">
	
	<!-- 无视图模式 -->
	<sql id="select" databaseId="mysql">
        <![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1   ]]>
    </sql>

	
	<!-- 搜索条件 -->
	<sql id="searchMode" databaseId="mysql">
		<if test="srf.n_acl_eq != null ">
			<![CDATA[ AND  t1.`ACL` = #{srf.n_acl_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_createmanname_eq != null ">
			<![CDATA[ AND  t1.`CREATEMANNAME` = #{srf.n_createmanname_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_ibz_plantempletname_like != null ">
            <bind name="bind_n_ibz_plantempletname_like" value="'%' + srf.n_ibz_plantempletname_like + '%'" />
            <![CDATA[ AND  t1.`IBZ_PLANTEMPLETNAME` like #{bind_n_ibz_plantempletname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="ew!=null and ew.sqlSegment!=null and ew.sqlSegment!=''">
		AND ${ew.sqlSegment}
		</if>
	</sql>


    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzPlanTempletResultMap" databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND T1.IBZ_PLANTEMPLETID = #{id} ]]>
		</trim>
    </select>


    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzPlanTempletResultMap" type="cn.ibizlab.pms.core.ibizpro.domain.IbzPlanTemplet" autoMapping="true">
		<id property="ibzplantempletid" column="ibz_plantempletid" /><!--主键字段映射-->
		<result property="ibzplantempletname" column="ibz_plantempletname" />
            
		
    </resultMap>


    <!--数据集合[CurUserTemplet]-->
	 <select id="searchCurUserTemplet"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext"  resultMap="IbzPlanTempletResultMap">
         select t1.* from (
                <include refid="CurUserTemplet" />
         )t1
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext"  resultMap="IbzPlanTempletResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
     </select>

    <!--数据查询[CurUserTemplet]-->
    <sql id="CurUserTemplet" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND ( ( t1.`ACL` = 'open'  OR  t1.`CREATEMANNAME` =  #{srf.sessioncontext.srfloginname} ) ) ]]>
			</if>
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectQueryByCurUserTemplet"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext" resultMap="IbzPlanTempletResultMap">
		<include refid="CurUserTemplet" />
	</select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectQueryByDefault"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext" resultMap="IbzPlanTempletResultMap">
		<include refid="Default" />
	</select>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ACL`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_PLANTEMPLETID`, t1.`IBZ_PLANTEMPLETNAME`, t1.`PLANS`, t1.`PRODUCT`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_PLANTEMPLET` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectQueryByView"  parameterType="cn.ibizlab.pms.core.ibizpro.filter.IbzPlanTempletSearchContext" resultMap="IbzPlanTempletResultMap">
		<include refid="View" />
	</select>

</mapper>

