//
.demobpickupview{
  .view-footer {
    padding: 0.5rem 1rem;
    text-align: center;
    .van-button {
        height: 2.5rem;
        line-height: 2.5rem;
        width: 40%;
    }
    .mobpickupview_button{
        width: 90%;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
  }
  .footer-ios ion-toolbar:first-of-type {
    --border-width:  0;
  }

}
