.app-layoutpanel {
  height: 100%;
  margin: 0 !important;
  .app-layoutpanel-container{
    background-color: #fff;
    padding: 5px;
    .tab-panel-container{
      padding: 0;
    }
  }
  .tab-panel-container{
    padding: 5px;
    background-color: #fff;
    .app-layoutpanel-tabpanel{
      .van-tabs__wrap{
        .van-tabs__nav{
          border-color: var(--app-background-color); 
          margin: 0;
          .van-tab{
            border-color: var(--app-background-color); 
          }
          .van-tab--active{
            background-color: var(--app-background-color);
          }
        }
      }
    }
  }
  .van-row{
    >.app-layoutpanel-container {
        height: 100%;
    }
    .item-field{
        padding: 0 4px;
        display: flex;
        >.item-field-label{
            padding: 0 8px;
            overflow: initial;
        }
    }
  }
}

.mob_list_card{
  font-size: 15px;
}