.view-default .toolbar-container button {
    margin: 6px 6px 4px 6px;
    height: 28px;
}
.view-default.deeditview {
    .ivu-tabs-nav .ivu-tabs-tab {
        padding: 8px 2px;
    }
    .ivu-card-head {
        padding: 12px;
    }
    .ivu-tabs-bar {
        margin-bottom: 24px;
    }
    .app-form-group {
        .ivu-card-body {
            padding: 20px 20px 8px 20px;
        }
        .ivu-card-head {
            padding: 0 0 5px 0;
        }
    }
    .ivu-tabs-no-animation > .ivu-tabs-content {
        padding: 0 0 0 16px;
    }
    .app-form {
        padding-top: 0;
    }
    .view-container > .view-card > .ivu-card-body > .content-container {
        padding: 12px 0 0 0;
    }
}
