.app-form-item2 {
    >.ivu-form-item-label {
        text-decoration: none;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
    >.ivu-form-item-content {
        min-height: 36px;
        display: flex;
        .app-editor-contant {
            flex-grow: 1;
        }
        .app-error-tip {
            width: 20px;
            .app-form-item-error-info {
                display: flex;
                .icon {
                    width: 30px;
                    flex-shrink: 0;
                }
                .contant{
                    flex-grow: 1;
                }
            }
        }
    }
    .ivu-form-item-error-tip {
        display: none;
    }
}
.app-form-item-label-top {
    >.ivu-form-item-label {
        float: none;
        display: inline-block;
        padding: 0 0 10px;
    }
}