.app-common-microcom {
  .el-radio-group {
      width: 100%;
      .el-radio {
          width: 25%;
          line-height: 32px;
          margin-right: 0;
          .el-radio__inner {
              width: 16px;
              height: 16px;
          }
      }
  }
}
