.view-default.view-container.degridview {
    > .view-card {
        > .ivu-card-head{
            padding: 0;
            > .header-container{
                > .caption-container {
                    flex: auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .caption-info {
                        line-height: 48px;
                        font-weight: 600;
                        color: var(--view-font-color-bright);
                        flex-shrink: 0;
                    }
                    .quick-group-container {
                        margin-left: 12px;
                        > .app-quick-group {
                            background-color: transparent;
                        }
                    }
                }
                .quick-group-container,.quick-search-input{
                    float: left;
                    margin-top: 6px;
                    margin-bottom: 6px;
                }
                >.bar-container  {
                    flex: auto;
                    margin-bottom: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .ivu-input-group.ivu-input-group-default {
                        margin-top: 4px !important;
                    }
                    > .toolbar-container{
                        margin-top: 2px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                    }
                }
            }
        }
        > .ivu-card-body{
          height: calc(100% - 49px)
        }
    }
    > .view-card.view-no-toolbar, >.view-card.view-no-caption {
        > .ivu-card-body {
            height: calc(100% - 74px) !important;
        }
    }
    > .view-card.view-no-header {
        > .ivu-card-body{
            padding-top: 12px;
            height: 100% !important;
        }
    }

    // 表格样式调整
    .grid .el-table::after{
      width: 0;
    }
    .grid .el-table{
      border-left: none;
      font-size: 12px;
      color: #666666;
      .el-table__header-wrapper{
        th{
          color: #666666;
          font-weight: 400;
          background: #F6F6F6;
          border-right: none;
        }
      }
      .el-table__body tr.el-table__row--striped td{
        background: transparent;
      }
    }
    .grid .grid-pagination{
      font-size: 12px;
      color: #666666;
      padding-top: 6px;
      padding-right: 35px;
      .ivu-icon{
        font-size: 14px;
      }
      .ivu-btn, .ivu-select-selected-value,input{
        font-size: 12px;
      }
      .page-button{
        display: none;
      }
      .page-column{
        left: 45px;
      }
      .ivu-btn{
        padding: 0 12pxs;
        height: 28px;
      }
      .page-button button,.ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev, .ivu-page-item{
        height: 28px;
        width: 28px;
        min-width: 28px;
        line-height: 28px;
      }
      .ivu-page-item-active{
        background-color: #57A3FD;
        a{
          color: #FFFFFF;
        }
      }
    }

}