---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibizpms-app-web
  labels:
    app: ibizpms-app-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ibizpms-app-web
  template:
    metadata:
      labels:
        app: ibizpms-app-web
    spec:
      imagePullSecrets:
      - name: aly-shanghai
      containers:
      - name: ibizpms-app-web
        image: registry.cn-shanghai.aliyuncs.com/ibizsys/ibizpms-app-web:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 33011
        env:
        - name: SPRING_CLOUD_NACOS_DISCOVERY_IP
          value: "172.16.240.110"      
        - name: SERVER_PORT
          value: "33011"
        - name: SPRING_CLOUD_NACOS_DISCOVERY_SERVER-ADDR
          value: "172.16.240.110:8850"
        - name: SPRING_REDIS_HOST
          value: "172.16.240.110"
        - name: SPRING_REDIS_PORT
          value: "6380"
        - name: SPRING_REDIS_DATABASE
          value: "0"
        - name: SPRING_DATASOURCE_USERNAME
          value: "zentao"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "123456"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://172.16.180.217:3306/zentao?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true&serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true"
        - name: SPRING_DATASOURCE_DRIVER-CLASS-NAME
          value: "com.mysql.jdbc.Driver"
        - name: SPRING_DATASOURCE_DEFAULTSCHEMA
          value: "zentao"
        - name: IBIZ_AUTH_LADP
          value: "true"      
        - name: JOBS_ADMINNAME
          value: "admin"      
        - name: JOBS_ADMIN-ADDRESS
          value: "http://172.16.240.110:10001"      
        - name: NACOS
          value: "172.16.240.111:8849"      
        - name: IBIZ_REF_SERVICE_IBIZPMS-WEBAPI
          value: "pms-webapi"      
        - name: JOBS_ADMINPASSWORD
          value: "123456"      
        - name: JOBS_APP-NAME
          value: "ibzpms"      
        - name: ZUUL_ROUTES_IBZEMP_SERVICEID
          value: "pms-webapi"      
        - name: JOBS_APP-PORT
          value: "9998"      
        - name: JOBS_APP-IP
          value: "172.16.240.110"      
        - name: CAS
          value: "https://passport.ibizlab.cn"      
        - name: IBIZ_CACHELEVEL
          value: "L2"      
        - name: SEATA_REGISTRY_NACOS_SERVER-ADDR
          value: "172.16.240.110:8850"      
        - name: SEATA_ENABLED
          value: "true"      

---
apiVersion: v1
kind: Service
metadata:
  name: ibizpms-app-web
  labels:
    app: ibizpms-app-web
spec:
  type: NodePort
  ports:
  - name: http
    port: 33011
    targetPort: 33011
    nodePort: 33011
    protocol: TCP
  selector:
    app: ibizpms-app-web

