.view-default.view-container.depickupview3 {
    >.ivu-card {
        >.ivu-card-body >.content-container {
            >.footer >.ivu-card-body {
                padding: 10px 16px;
            }
            >.pickupview3-tabs-container {
                height: 100%;
                >.ivu-tabs.pickupview3-tabs {
                    height: 100%;
                    >.ivu-tabs-content {
                        height: 100%;
                    }
                }
                
            } 
        }
    }
}