<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibiz.mapper.IbzAgentMapper">
	
	<!-- 无视图模式 -->
	<sql id="select" databaseId="mysql">
        <![CDATA[ SELECT t1.`AGENTBEGIN`, t1.`AGENTEND`, t1.`AGENTUSER`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_AGENTID`, t1.`IBZ_AGENTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_AGENT` t1   ]]>
    </sql>

	
	<!-- 搜索条件 -->
	<sql id="searchMode" databaseId="mysql">
		<if test="srf.n_createmanname_eq != null ">
			<![CDATA[ AND  t1.`CREATEMANNAME` = #{srf.n_createmanname_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_ibz_agentname_like != null ">
            <bind name="bind_n_ibz_agentname_like" value="'%' + srf.n_ibz_agentname_like + '%'" />
            <![CDATA[ AND  t1.`IBZ_AGENTNAME` like #{bind_n_ibz_agentname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="ew!=null and ew.sqlSegment!=null and ew.sqlSegment!=''">
		AND ${ew.sqlSegment}
		</if>
	</sql>


    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IbzAgentResultMap" databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND T1.IBZ_AGENTID = #{id} ]]>
		</trim>
    </select>


    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IbzAgentResultMap" type="cn.ibizlab.pms.core.ibiz.domain.IbzAgent" autoMapping="true">
		<id property="ibzagentid" column="ibz_agentid" /><!--主键字段映射-->
		<result property="ibzagentname" column="ibz_agentname" />
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibiz.filter.IbzAgentSearchContext"  resultMap="IbzAgentResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`AGENTBEGIN`, t1.`AGENTEND`, t1.`AGENTUSER`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_AGENTID`, t1.`IBZ_AGENTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_AGENT` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectQueryByDefault"  parameterType="cn.ibizlab.pms.core.ibiz.filter.IbzAgentSearchContext" resultMap="IbzAgentResultMap">
		<include refid="Default" />
	</select>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`AGENTBEGIN`, t1.`AGENTEND`, t1.`AGENTUSER`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`CREATEMANNAME`, t1.`IBZ_AGENTID`, t1.`IBZ_AGENTNAME`, t1.`UPDATEDATE`, t1.`UPDATEMAN` FROM `T_IBZ_AGENT` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectQueryByView"  parameterType="cn.ibizlab.pms.core.ibiz.filter.IbzAgentSearchContext" resultMap="IbzAgentResultMap">
		<include refid="View" />
	</select>

</mapper>

