// 项目组件主题文件

.app-update-log {
  .details {
      .details_text {
          background: var(--app-background-color);
      }
  }
}
.app-trends-list .app-trends-list-item .tag_line,
.app-trends-list .app-trends-list-item .tag_border {
  background: var(--app-background-color);
}
.app-task-list-item {
  .app-task-list-item_top {
      .left_tag {
          background: var(--app-background-color);
      }
  }
  .assignedto_item {
      background: var(--app-background-color);
  }
}
.app-story-list-item {
  .app-story-list-item_top {
      .multiple {
          background: var(--app-background-color);
      }
  }
  .assignedto_item {
      background: var(--app-background-color);
  }
}
.app-bug-list-item {
  .assignedto_item {
      background: var(--app-background-color);
  }
}
.app-projectteam-list-item {
  .app-projectteam-list-item_top {
      .account_part {
          background: var(--app-background-color);
      }
  }
}
.app-taskteam-list-item {
  .app-taskteam-list-item_top {
      .account_part {
          background: var(--app-background-color);
      }
  }
}
