#缓存、数据源
spring:
  cache:
    redis:
      time-to-live: 3600
    caffeine:
      spec: initialCapacity=5,maximumSize=500,expireAfterWrite=3600s
  redis:
    host: 172.16.240.110
    port: 6381
    password:
    database: 0
    lettuce:
      pool:
        max-active: 32
        max-wait: 300ms
        max-idle: 16
        min-idle: 8
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  data:
    elasticsearch:
      cluster-name: es-cluster
      cluster-nodes: 127.0.0.1:9300
      repositories:
        enabled: true
  datasource:
    username: a_A_23e8aa361
    password: 'b7989eb@'
    url: jdbc:mysql://172.16.180.232:3306/a_A_23e8aa361?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true&serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=convertToNull
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat,wall,log4j2
    #配置初始化大小/最小/最大
    initial-size: 1
    min-idle: 1
    max-active: 20
    #获取连接等待超时时间
    max-wait: 60000
    #间隔多久进行一次检测，检测需要关闭的空闲连接
    time-between-eviction-runs-millis: 60000
    #一个连接在池中最小生存的时间
    min-evictable-idle-time-millis: 300000
    validation-query: SELECT 1 FROM DUAL
    test-while-idle: true
    test-on-borrow: false
    test-on-return: false
    #打开PSCache，并指定每个连接上PSCache的大小。oracle设为true，mysql设为false。分库分表较多推荐设置为false
    pool-prepared-statements: false
    max-pool-prepared-statement-per-connection-size: 20
    isSyncDBSchema: false
    defaultSchema: a_A_23e8aa361
    conf: classpath:liquibase/master.xml

#Mybatis-plus配置
mybatis-plus:
  global-config:
    refresh-mapper: true
    db-config:
      # 全局逻辑已删除默认值
      logic-delete-value: 0
      # 全局逻辑未删除默认值
      logic-not-delete-value: 1
  mapper-locations: classpath*:/mapper/*/*/*.xml
  configuration:
    jdbc-type-for-null: 'null'
    map-underscore-to-camel-case: false

#阿里sentinel熔断器
feign:
  httpclient:
    enabled: true
  sentinel:
    enabled: true
  compression:
    request:
      enabled: true
      mime-types: application/javascript,text/css,application/json,application/xml,text/html,text/xml,text/plain
      min-response-size: 10240
    response:
      enabled: true

#Log配置
logging:
  level:
    cn.ibizlab.pms: debug
    org.springframework.boot.autoconfigure: ERROR

#zuul网关超时设置
ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000

#系统是否开启权限验证、是否开启缓存
#缓存级别：无缓存(无配置项)、一级缓存(L1)、二级缓存(L2)
ibiz:
  rtmodel: true
  dynamic:
    publishpath: http://172.16.240.51/publicpath
  enablePermissionValid: true
  cacheLevel: L2 #(L1)一级本地caffeine缓存;(L2)caffeine缓存+Redis缓存
  ref:
    service:
      uaa: ibizrt4ebsx-rt4ebsx
      ou: ibizrt4ebsx-rt4ebsx
      dict: ibizrt4ebsx-rt4ebsx
      lite: ibizrt4ebsx-rt4ebsx
      disk: ibizrt4ebsx-rt4ebsx
      wf: ibzwf-api
      ibzou-api:
        name: ibizrt4ebsx-rt4ebsx
        system: f7ad7e05-9031-11eb-b882-00163e06e68c
      ibzuaa-api:
        name: ibizrt4ebsx-rt4ebsx
        system: f7ad7e05-9031-11eb-b882-00163e06e68c
  saas: 
    column: SRFDCID
    sys-tables: ACT_RU_TASK,act_re_procdef,databasechangelog,databasechangeloglock,dual,DUAL

### jobs
jobs:
  #admin-address: http://127.0.0.1:40005
  app-name: iBizPMS
  app-port: 9999
  #app-ip: 127.0.0.1

### 启用Gzip压缩
server:
  compression:
    enabled: true
    mime-types: application/javascript,text/css,application/json,application/xml,text/html,text/xml,text/plain
    min-response-size: 10240



