.app-studio-debug-bar {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 10;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: rgba(96, 98, 102, 0.8);
    color: white;
    display: flex;
    align-items: center;

    .app-studio-debug-info {
        cursor: pointer;
        flex-shrink: 0;
        padding: 0px 3px;
        font-size: 12px;
    }

    .app-studio-debug-actions {
        padding-left: 6px;

        > .ivu-btn {
            margin: 0;
        }
    }
}

.app-studio-debug-bar-border {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid paleturquoise;
    z-index: 1;
}

.view-container {
    > .view-container {
        .app-studio-debug-bar {
            top: 50px;
        }
    }
}
