.demobtabexpview {
    ion-header {
        ion-segment {
            ion-segment-button {
                line-height: 20px;
                position: relative;
                .segmentCount {
                    position: absolute;
                    top: 0;
                    right: -12px;
                    width: 22px;
                    height: 13px;
                    background: red;
                    border-radius: 30%;
                    color: white;
                    font-size: 12px;
                    line-height: 13px;
                    text-align: center;
                }
            }
        }
    }
    .toolbar-segment {
        height: 42px;
    }
}
