.tabexppanel {
    height: 100%;
    > .ivu-tabs-bar {
        margin-bottom: 0px;
    }
    > .ivu-tabs-content {
        height: calc(100% - 36px);
        padding: 4px !important;
        .ivu-tabs-tabpane {
            height: 100%;
        }
    }
    .ivu-tabs-tab:hover{
      //TODO冲突
      color: var(--view-font-color-bright) !important;
      span {
        border-bottom: 1px solid var(--view-font-color-bright) !important;
      }
    }
}
