<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.zentao.mapper.DeptMapper">
	
	<!-- 无视图模式 -->
	<sql id="select" databaseId="mysql">
        <![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`   ]]>
    </sql>

	
	<!-- 搜索条件 -->
	<sql id="searchMode" databaseId="mysql">
		<if test="srf.n_name_like != null ">
            <bind name="bind_n_name_like" value="'%' + srf.n_name_like + '%'" />
            <![CDATA[ AND  t1.`NAME` like #{bind_n_name_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_parentname_eq != null ">
			<![CDATA[ AND  t11.`NAME` = #{srf.n_parentname_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_parentname_like != null ">
            <bind name="bind_n_parentname_like" value="'%' + srf.n_parentname_like + '%'" />
            <![CDATA[ AND  t11.`NAME` like #{bind_n_parentname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_parent_eq != null ">
			<![CDATA[ AND  t1.`PARENT` = #{srf.n_parent_eq,jdbcType=BIGINT} ]]>
        </if>
		<if test="ew!=null and ew.sqlSegment!=null and ew.sqlSegment!=''">
		AND ${ew.sqlSegment}
		</if>
	</sql>


    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="DeptResultMap" databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND T1.ID = #{id} ]]>
		</trim>
    </select>


    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="DeptResultMap" type="cn.ibizlab.pms.core.zentao.domain.Dept" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="parent" column="parent" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="ibizparent" javaType="cn.ibizlab.pms.core.zentao.domain.Dept" column="parent" select="cn.ibizlab.pms.core.zentao.mapper.DeptMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N__ZT_DEPT__ZT_DEPT__PARENT] -->
	 <select id="selectByParent" resultMap="DeptResultMap"  databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND t1.`PARENT`=#{id} ]]>
		</trim>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.zentao.filter.DeptSearchContext"  resultMap="DeptResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
     </select>

    <!--数据集合[Root]-->
	 <select id="searchRoot"  parameterType="cn.ibizlab.pms.core.zentao.filter.DeptSearchContext"  resultMap="DeptResultMap">
         select t1.* from (
                <include refid="Root" />
         )t1
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>

    <!--数据查询[Root]-->
    <sql id="Root" databaseId="mysql">
		<![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<if test="true">
			<![CDATA[ AND ( t1.`PARENT` = 0 ) ]]>
			</if>
			<include refid="searchMode" />
		</trim>
    </sql>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`FUNCTION`, t1.`GRADE`, t1.`ID`, (CASE WHEN EXISTS (SELECT 1 FROM ZT_DEPT WHERE  PARENT = t1.`ID`) THEN FALSE ELSE TRUE  END ) AS `ISLEAF`, t1.`MANAGER`, t1.`NAME`, t1.`ORDER`, t1.`PARENT`, t11.`NAME` AS `PARENTNAME`, t1.`PATH`, t1.`POSITION` FROM `zt_dept` t1  LEFT JOIN `zt_dept` t11 ON t1.`PARENT` = t11.`ID`   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>

</mapper>

