
.view-style2.studio-view.view-container.deeditview.from-dashboard-style {
  .app-form.info-form-mode {
      .app-form-group {
          .ivu-card.app-form-group {
              border: 1px solid var(--view-dividing-line-color-bright);
              margin-bottom: 7px;
              background: var(--view-background-color-bright);

              .ivu-card-head {
                  height: 38px;
                  padding: 7px 8px;
                  font-size: 16px;
                  font-weight: 700;
                  background: var(--view-background-color-bright);

                  > p {
                      > span {
                          font-size: 16px;
                          font-weight: 700;
                          vertical-align: -2px;
                      }
                  }
              }

              .ivu-card-extra {
                  top: 7px;
              }

              .ivu-card-body {
                  background: var(--view-background-color-bright);
                  padding: 6px 8px;
              }
          }
      }
  }
}