.studio-view.view-style2 {
    .quick-search {
      .ivu-input:focus{
        box-shadow: none;
        border-color: var(--ctrl-font-color-light) !important;
      }
      .ivu-input-group-with-append.ivu-input-group-default.ivu-input-wrapper.ivu-input-wrapper-default.ivu-input-type-text.ivu-input-group.ivu-input-with-search {
          margin-top: 0px !important;
          padding-left: 0px !important;
          input.ivu-input.ivu-input-default {
              border-right: 0px;
              border-color: var(--ctrl-font-color-light);
          }
          > .ivu-input-group-append.ivu-input-search {
              padding: 2px !important;
              background-color: #fff !important;
              border: 1px solid var(--ctrl-font-color-light) !important;
              border-left: 0px !important;
              color: var(--ctrl-font-color-light) !important;
          }
          > .ivu-input-group-append.ivu-input-search::before {
              display: none !important;
          }
      }
      .ivu-input-group-with-append.ivu-input-group-default.ivu-input-wrapper.ivu-input-wrapper-default.ivu-input-type-text.ivu-input-group.ivu-input-with-search:hover {
          .ivu-input-group-append.ivu-input-search,.ivu-input {
              border-color: var(--ctrl-font-color-bright) !important;
          }
      }
  }
}

.view-style2 {
  .view-container {
      padding: 0;
      background: var(--view-background-color-light);
      box-shadow: none;
      > .view-card {
          height: 100%;
          > .ivu-card-head {
              min-height: 42px;
              border-color: var(--view-header-border-color);
              border-style: solid;
              border-width: 0px 0px 1px;
              margin: 0px 0px 6px;
              padding: 6px 0px 2px;
              > .header-container {
                  min-height: 42px;
                  display: flex;
                  flex-wrap: nowrap;
                  align-items: flex-start;
                  justify-content: space-between;
                  > .caption-info {
                      line-height: 42px;
                      font-size: 18px;
                      color: var(--view-font-color-light);
                      flex-shrink: 0;
                  }
                  > .toolbar-container {
                      margin-left: auto;
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                  }
              }
          }
          > .ivu-card-body {
              // height: 50%;
              // flex-grow: 1;
              height: calc(100% - 74px);
              padding: 0px;
              display: flex;
              flex-direction: column;
              > .content-container {
                  height: 100%;
                  display: flex;
                  margin: 0;
                  flex-direction: column;
                  overflow: auto;
              }
          }
      }
      > .view-card.view-no-caption.view-no-toolbar {
          > .ivu-card-body {
              height: 100%;
          }
      }
      > .view-header {
          .toolbar-container {
              height: 33px;
              margin-left: auto;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              .seperator {
                  margin-right: 5px;
              }
              .ivu-btn {
                  height: 22px;
                  line-height: 18px;
                  border: 1px solid var(--button-font-color);
                  margin-right: 2px;
                  font-size: 12px;
                  > span {
                      > i {
                          min-width: 20px;
                      }
                  }
              }
              .ivu-btn:active {
                  background-color: transparent;
              }
          }
      }
  }
  .viewcontainer2 {
      height: 100%;
      width: 100%;
      padding: 0px !important;
      margin: 0px !important;
      -webkit-box-shadow: none !important;
  }
  .viewcontainer3 {
      height: 100%;
      width: 100%;
      padding: 0px !important;
      margin: 0px !important;
      -webkit-box-shadow: none !important;
  }
}

.view-style2 {
  padding: 0 !important;

  // 滚动条宽度
  div::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
  }

  // 滚动槽
  div::-webkit-scrollbar-track {
      border-radius: 0;
      box-shadow: none;
      border: 0;
  }

  // 滚动条滑块
  div::-webkit-scrollbar-thumb {
      border-radius: 0;
      box-shadow: none;
      border: 0;
      background-color: var(--app-background-color-scrollbar);
  }
  //火狐浏览器滚动条样式
  div {
    scrollbar-color: var(--app-background-color-scrollbar) #ffffff; /* 滑块颜色  滚动条背景颜色 */
    scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
  }

  // 默认工具栏样式
  .toolbar-container {
      .seperator {
          margin-right: 5px;
      }

      .ivu-btn {
          height: 22px;
          line-height: 21px;
          border: 0px;
          margin-right: 4px;
          font-size: 12px;

          > span {
              > i {
                  min-width: 20px;
              }
              .caption {
                  margin-left: 0;
              }
          }
      }

      .ivu-btn:active {
          background-color: transparent;
      }
  }
  // 模式二工具栏样式
    .toolbar-container.style2 {
    height: 100%;
    border: 1px solid transparent;

    .toolbar-item {
        display: inline-block;
        height: 100%;
        .ivu-dropdown.studio-dropdown.toolbar-dropdown {
            .ivu-dropdown-menu {
                padding: 0px !important;
                text-align: center;
                .ivu-dropdown-item {
                    padding: 4px 0px;
                    border-radius: 4px;
                    button {
                        padding: 0px;
                        margin: 0px;
                    }
                }
                .ivu-dropdown-item:hover {
                    button {
                        background: var(--view-button-background-color-active);
                    }
                }
            }
        }
        
    }

      .seperator {
          margin: 0;
      }
  }

  // 无动画小型标签页样式
  .ivu-tabs {
      height: 100%;

      > .ivu-tabs-bar {
          margin-bottom: 0px;
          // border-bottom: 1px solid var(--app-dividing-line-color-tint);

          > .ivu-tabs-nav-container {
              > .ivu-tabs-nav-wrap {
                  margin-bottom: 3px;

                  > .ivu-tabs-nav-scroll {
                      > .ivu-tabs-nav {
                          > .ivu-tabs-ink-bar {
                              display: none;
                          }

                          > .ivu-tabs-tab {
                              padding: 4px 10px;
                              margin: 0;
                              color: var(--view-font-color);
                              font-family: Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
                              font-weight: 700;
                          }

                          > .ivu-tabs-tab.ivu-tabs-tab-active {
                              color: var(--view-font-color-bright);

                              span {
                                  border-bottom: 1px solid var(--view-font-color-bright);
                              }
                          }
                      }
                  }
              }
          }
      }
  }

  // element下拉菜单样式
  .el-dropdown-menu.el-popper {
      background: var(--view-button-background-color);
      padding: 0px;
      border: 0px;

      > .popper__arrow::after {
          border-bottom-color: var(--view-button-background-color);
      }

      > .el-dropdown-menu__item {
          color: var(--view-button-color);
      }

      > .el-dropdown-menu__item.is-select {
          background-color: var(--view-button-background-color-active);

          > span {
              > span {
                  color: var(--view-button-color-active) !important;
              }
          }
      }

      .el-dropdown-menu__item:hover {
          background-color: var(--view-button-background-color-active);
          color: var(--view-button-color-active);
      }
  }

  // iview下拉菜单样式
  .studio-dropdown.ivu-dropdown {
      .ivu-select-dropdown {
          margin: 0;
          padding: 0;
          background-color: var(--view-button-background-color);
          color: var(--view-button-color);
          overflow: unset;

          > .ivu-dropdown-menu {
              padding: 5px 0px;

              .ivu-dropdown-item {
                  color: var(--view-button-color);
                  padding: 5px 8px;

                  > i {
                      min-width: 16px;
                  }
              }

              .ivu-dropdown-item:hover {
                  background-color: var(--view-button-background-color-active);
                  color: var(--view-button-color-active);
              }

              .ivu-dropdown-item.seperator {
                  padding: 0;
                  border-bottom: 1px solid var(--view-button-color);
              }
          }
      }
  }

  // poptip确认对话框
  .ivu-poptip.ivu-poptip-confirm {
      .ivu-poptip-footer {
          > .ivu-btn.ivu-btn-text {
              color: var(--view-button-background-color);
          }

          > .ivu-btn.ivu-btn-text:hover {
              color: var(--view-button-background-color-active);
          }
      }
  }

  // 下拉列表
  .ivu-select-dropdown.ivu-select-dropdown-transfer {
      background: var(--form-editor-background-color);
      color: var(--form-editor-font-color);

      > .ivu-select-dropdown-list {
          > .ivu-select-item {
              color: var(--form-editor-font-color);

              .el-checkbox.is-disabled {
                  .el-checkbox__inner {
                      cursor: pointer;
                      border-color: var(--form-editor-active-color);
                  }

                  .el-checkbox__inner::after {
                      cursor: pointer;
                      border-color: var(--form-editor-active-color);
                  }

                  .el-checkbox__label {
                      color: var(--form-editor-font-color);
                  }
              }
          }

          > .ivu-select-item:hover {
              color: #fff;
              background: var(--form-editor-active-color);

              .el-checkbox.is-disabled {
                  .el-checkbox__label {
                      color: #fff;
                      cursor: pointer;
                  }
              }
          }

          > .ivu-select-item.ivu-select-item-focus {
              background: var(--form-editor-background-color);
          }

          > .ivu-select-item.ivu-select-item-selected {
              color: #fff;
              background: var(--form-editor-active-color);

              .el-checkbox.is-disabled {
                  .el-checkbox__label {
                      color: #fff;
                  }
              }
          }
      }
  }

  .dropdown-list-container {
      position: relative;
      width: 100%;
      .dropdown-list {
          display: inline-block;
          height: 35px;
          .ivu-select-input[disabled] {
              background-color: var(--form-disable-editor-background-color);
              color: var(--form-disable-editor-font-color);
              -webkit-text-fill-color: var(--form-disable-editor-font-color);
          }
      }

      .el-icon-circle-close {
          display: none;
          position: absolute;
          right: 28px;
          padding-top: 10px;
      }

      .tree-dropdown-list {
          width: 100%;

          .el-input__inner {
              height: 32px !important;
              line-height: 32px !important;
          }

          .el-input__icon {
              line-height: 32px;
          }
      }
  }

  .dropdown-list-container:hover {
      .el-icon-circle-close {
          display: unset;
      }
  }
}
