.rawitem {
    width: 100%;
    height: 100%;
    > div {
        width: 100%;
        height: 100%;
        > img {
            width: 100%;
            height: 100%;
        }
    }
}
.rawitem.markdown {
    .app-mavon-editor {
        .v-note-panel {
            background-color: var(--view-background-color) !important;
            .v-show-content {
                background-color: var(--view-background-color) !important;
            }
        }
    }
}