.app-theme{
    width: auto !important;
    padding: 0 5px;
    /***    BRGIN:主题选择框样式    ***/
    .app-theme-icon {
        color: var(--app-font-color-light);
    }
    .app-app-theme {
        .app-theme-color {
            display: flex;
            .app-theme-item {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }
            .active {
                border: 2px solid var(--app-font-color-light);
            }
        }
        .ivu-form-item {
            border-top: 1px solid var(--app-font-color-bright);
            margin-bottom: 10px;
        }
    }
    /***    END:主题选择框样式   ***/
}