<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.pms.core.ibiz.mapper.DynaDashboardMapper">
	
	<!-- 无视图模式 -->
	<sql id="select" databaseId="mysql">
        <![CDATA[ SELECT t1.`APPID`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DYNADASHBOARDID`, t1.`DYNADASHBOARDNAME`, t1.`MODEL`, t1.`MODELID`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERID` FROM `T_DYNADASHBOARD` t1   ]]>
    </sql>

	
	<!-- 搜索条件 -->
	<sql id="searchMode" databaseId="mysql">
		<if test="srf.n_dynadashboardid_eq != null ">
			<![CDATA[ AND  t1.`DYNADASHBOARDID` = #{srf.n_dynadashboardid_eq,jdbcType=VARCHAR} ]]>
        </if>
		<if test="srf.n_dynadashboardname_like != null ">
            <bind name="bind_n_dynadashboardname_like" value="'%' + srf.n_dynadashboardname_like + '%'" />
            <![CDATA[ AND  t1.`DYNADASHBOARDNAME` like #{bind_n_dynadashboardname_like,jdbcType=VARCHAR} ]]>
        </if>
		<if test="ew!=null and ew.sqlSegment!=null and ew.sqlSegment!=''">
		AND ${ew.sqlSegment}
		</if>
	</sql>


    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="DynaDashboardResultMap" databaseId="mysql">
        <include refid="select" />
		<trim prefix="where" prefixOverrides="and">
			<![CDATA[ AND T1.DYNADASHBOARDID = #{id} ]]>
		</trim>
    </select>


    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="DynaDashboardResultMap" type="cn.ibizlab.pms.core.ibiz.domain.DynaDashboard" autoMapping="true">
		<id property="dynadashboardid" column="dynadashboardid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.pms.core.ibiz.filter.DynaDashboardSearchContext"  resultMap="DynaDashboardResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`APPID`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DYNADASHBOARDID`, t1.`DYNADASHBOARDNAME`, t1.`MODELID`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERID` FROM `T_DYNADASHBOARD` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectDefault"  parameterType="cn.ibizlab.pms.core.ibiz.filter.DynaDashboardSearchContext" resultMap="DynaDashboardResultMap">
		<include refid="Default" />
	</select>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`APPID`, t1.`CREATEDATE`, t1.`CREATEMAN`, t1.`DYNADASHBOARDID`, t1.`DYNADASHBOARDNAME`, t1.`MODEL`, t1.`MODELID`, t1.`UPDATEDATE`, t1.`UPDATEMAN`, t1.`USERID` FROM `T_DYNADASHBOARD` t1   ]]>
		<trim prefix="where" prefixOverrides="and">
			<include refid="searchMode" />
		</trim>
    </sql>
	
	<select id="selectView"  parameterType="cn.ibizlab.pms.core.ibiz.filter.DynaDashboardSearchContext" resultMap="DynaDashboardResultMap">
		<include refid="View" />
	</select>

</mapper>

