.toolbar-container{
  .ivu-tooltip{
    // 徽章样式
    .el-badge{
      margin-right: 18px;
    }
  }
  
}
.popup {
  padding-top: 20px;
  padding-bottom: 20px;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
      .btn-inner-text {
        display:none;
      }
      .btn-out-text {
        display: inline-block;
        color: black;
      }
    }
    .disabled {
      color: #a8a8a8;
    }
}