// 门户部件最下方按钮
.view-style2.deportalview.studio-view.view-container {
  .portlet-container.dashboard-footer-button-wrapper {
        display: flex;
        justify-content: center;
    .portlet-without-title {
      .portlet {
        >.portlet-without-title {
          padding: 0px;
          border: 0;
        }
      }
    }
  }
}