.app-layoutpanel {
  height: 100%;
  .app-layoutpanel-container {
      padding: 6px;
  }
  .app-layoutpanel-tabpanel{
      >.el-tabs {
          >.el-.el-tabs__header{
              margin: 0 0 10px;
          }
          .app-layoutpanel-tabpage{
              padding: 6px;
          }
      }
  }
  .app-layoutpanel-button,.app-layoutpanel-conctrl,.app-layoutpanel-ctrlpos,.app-layoutpanel-field,.app-layoutpanel-rowitem,.app-layoutpanel-usercontrol{
      padding: 6px;
  }
  .item-field{
      padding: 0 4px;
      display: flex;
      >.item-field-label{
          padding: 0 8px;
      }
  }
}