.ivu-select-multiple .ivu-select-item-selected:after{
  display: none;
}
.dropdown-list-mpicker-container{
  .tree-dropdown-list-mpicker{
    width: 100%;
    .el-input__inner{
        height: 32px !important;
        line-height: 32px !important;
    }
    .el-input__icon{
        line-height: 32px;
    }
  }
}
.app-mpicker-list-transfer>.ivu-select-dropdown-list {
  >.ivu-select-item {
    display: flex;
    align-items: center;
    >input {
      margin-right: 4px;
      cursor: pointer;
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: 0;
      left: 0;
      border: 1px solid #dcdee2;
      border-radius: 2px;
      background-color: #fff;
      transition: border-color .2s ease-in-out,background-color .2s ease-in-out,box-shadow .2s ease-in-out;
    }
  }
}
