.toolbar-container{
  .ivu-tooltip{
    // 徽章样式
    .el-badge{
      margin-right: 18px;
    }
  }
}
.view-toolbar-transfer.ivu-select-dropdown.ivu-dropdown-transfer {
  padding: 10px 0;
  .ivu-dropdown-menu {
    .ivu-dropdown-item {
      &:hover {
        background-color: #ecf5ff;
        color: #66b1ff;
      }
      padding: 0 20px;
      line-height: 36px;
      >span {
        >i {
          margin-right: 6px;
        }
      }
    }
  }
}