.view-default.view-container.deeditview4 {
    > .view-card {
        > .ivu-card-body {
            position: relative;
            .content-container {
                .app-form {
                    overflow: auto;
                    > .ivu-row {
                        min-height: 200px;
                    }
                }
                .drtab {
                    .app-dr-tab {
                        .ivu-tabs-tab-disabled {
                            pointer-events: none;
                        }
                    }
                }
            }
        }    
    }
}
