.el-message {
    .el-message__content {
        .title {
            padding-bottom: 10px;
        }
    }
}

.app-alert {
    .el-alert {
        margin-top: 5px;
        .el-alert__description {
            margin: 0;
        }
    }
}


.view-default {
    .view-top-message {
        padding-top: 6px;
    }
    .view-body-message {
        padding-bottom: 6px;
    }
    .view-bottom-message {
        padding-bottom: 8px;
    }
}