.dropdown-list-extend{
    .dropdown-list{
        display: inline-block;
        .ivu-select-selection{
            >div{
                width: 150px;
                .ivu-select-selected-value{
                    width: 150px;
                }
            }
        }
    }
}

