.view-default.view-container.dempickupview2 {
    >.ivu-card >.ivu-card-body {
        >.content-container.pickup-view {
            .footer {
                height: 58px;
                .ivu-card-body {
                    padding: 10px;
                }
            } 
            >.translate-contant {
                overflow: hidden;
                .center {
                    padding: 8px 10px;
                    background-color: #f6f6f6;
                    border-radius: 2px;
                    width: calc(100% - 354px);
                    .app-tree-exp-bar {
                        .left-pane, .right-pane {
                            background: #fff;
                        }
                        .left-pane {
                            padding-top: 6px;
                            padding-left: 8px;
                        }
                    }
                }
                .translate-buttons .buttons button {
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    span i {
                        line-height: 2;
                    }
                }
                .translate-buttons {
                    width: 56px;
                }
                .right {
                    background-color: #f6f6f6;
                    border: none;
                    border-radius: 2px;
                    .mpicker-select .picker-item {
                        height: 32px;
                        background: #FFFFFF;
                        border-radius: 2px;
                        color: #666666;
                        border: none;
                        line-height: 32px;
                        font-size: 12px;
                        font-weight: 400;
                        padding: 0 0 0 20px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}